<h1> Stats Results
</h1>
<div><label>
  Numbers
  </label>
  <%=@numbers%>
</div>
<div><label>
  Sorted Numbers
  </label>
  <%=@sorted_numbers%>
</div>
<div><label>
  Count
  </label>
  <%=@count%>
</div>
<div><label>
  Minimum
  </label>
  <%=@minimum%>
</div>
<div><label>
  Maximum
  </label>
  <%=@maximum%>
</div>
<div><label>
  Range
  </label>
  <%=@range%>
</div>
<div><label>
  Median
  </label>
  <%=@median%>
</div>
<div><label>
  Sum
  </label>
  <%=@sum%>
</div>
<div><label>
  Mean
  </label>
  <%=@mean%>
</div>
<div><label>
  Variance
  </label>
  <%=@variance%>
</div>
<div><label>
  Standard deviation
  </label>
  <%=@standard_deviation%>
</div>
<div><label>
  Mode
  </label>
  <%=@mode%>
</div>
