<h1> Word Count Resuls
</h1>
<div><label>
  Text
  </label>
</div>
<div>
<%=@text%>
</div>
<div>
<label>
  Word Count
</label>
</div>
<div>
<%=@word_count%>
</div>
<div>
<label>
  Character Count (with spaces)
</label>
</div>
<div>
<%=@character_count_with_spaces%>
</div>
<div>
<label>
  Character Count (without spaces)
</label>
</div>
<div>
<%=@character_count_without_spaces%>
</div>
<div>
<label>
  Occurences of <%=@special_word%>
</label>
</div>
<div>
<%=@occurrences%>
</div>
<a href="/word_count/new">Process more text </a>
